// font
$main-font: 'SCDream9';
$main-button-font: 'SCDream4';
$profile-name: "SCDream5";
$profile-sub: "SCDream4";
$about-sub: "NotoBlack";
$font-footer:"SCDream5";
// Screen size definitions
$basic-height: 700px;
$desktop-width: 1023px;
$tablet-width: 767px;
$mobile-width: 565px;
$mobile-landscape-screen: ( max-height: 500px) and ( min-width: 321px);
// Font (main)
%font-main {
    font-family: $main-font;
    font-size: 100px;
}

// Padding right (letter spacing)
$num: 5;
@while $num>0 {
    %padding-right-#{$num} {
        padding-right: 10px * $num;
    }
    $num: $num - 1;
}

// Padding left (letter spacing)
$num: 3;
@while $num>0 {
    %padding-left-#{$num} {
        padding-left: 10px * $num;
    }
    $num: $num - 1;
}

%background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

%about-desc {
    position: relative;
    background: #FEFEFE;
    line-height: 20px;
    width: 500px;
}

// Setting Main Page
%main-page {
    background-image: url('../../assets/img/background/background_1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
    color: #FEFEFE;
}

// Default Conatainer
%container {
    position: relative;
    display: grid;
    width: 1024px;
    margin: 0 auto;
    height: 100%;
}

// Main Postit
%postit {
    position: absolute;
    top: -160px;
    left: 640px;
    width: 350px;
    height: 650px;
}

%tech-line {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid transparent;
}

// media queries in SCSS
@mixin sm {
    @media (max-width: $mobile-width) {
        @content;
    }
}

@mixin md {
    @media (max-width: $tablet-width) {
        @content;
    }
}

@mixin lg {
    @media (max-width: $desktop-width) {
        @content;
    }
}

// Mobile landscape screen 모바일 가로 화면
@mixin mls {
    @media ($mobile-landscape-screen) {
        @content;
    }
}

// Custom devices
@mixin rwd($width) {
    @media (max-width: $width+"px") {
        @content;
    }
}