// Header
%header {
    position: absolute;
    top: 50px;
    display: grid;
    grid-template-areas: "log abt" "log con";
    width: 100%;
    height: 80px;
    padding: 0 50px;
    z-index: 100;
    grid-gap: 5px;
}

%header-logo {
    grid-area: log;
    height: 100%;
    cursor: pointer;
}

%header-about {
    grid-area: abt;
    justify-self: end;
    align-self: end;
    list-style-type: none;
}

%header-contact {
    grid-area: con;
    justify-self: end;
    align-self: start;
    list-style-type: none;
}